@model AuthenticationWitthJWT.Entitys.User

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}

<form method="post">
    <label>Username:</label>
    <input type="text" name="username" required class="form-control" />

    <label>Password:</label>
    <input type="password" name="password" required class="form-control" />

    <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>
