@model AuthenticationWitthJWT.Entitys.User

@{
    ViewData["Title"] = "User Registration";
}

<h2>Register</h2>

<form asp-action="Registration" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input asp-for="Username" class="form-control" id="username" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="password" required>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
